//Featured Beer

.featured-beer {
	text-align: center;
	font-family: 'Lato';
	border-radius: 5px;
	color: $cedar;
	font-size: 14px;
	line-height: 1;
}

.featured-beer p {
	margin: 10px 0;
	font-family: 'Lato';
	font-size: 16px;
	line-height: 18px;

}

.featured-beer .wp-post-image {;margin-top:-20px;display: inline-block;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	width:150px;height:150px;
	border-radius: 50%;
	margin:0 auto;
	border:2px solid $off-white;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;}

.featured-beer .pint {
	display: inline-block;
	font-weight: bold;
	//padding: 5px;
}

.featured-beer .half-pint {
	display: inline-block;padding-left:5px;
	font-weight: bold;
	//padding: 5px;
}

.featured-beer .icon_feature {
	margin: 0;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	float: right;
}

.featured-beer h3 {color:$cedar;font-variant: small-caps;}
.featured-beer h3.featured {color:$cedar;font-variant:normal;font-size:20px}
// Chalk Beerboard

.beerboard {
	color: $off-white;
	background-image: url("/wp-content/themes/Jenny-Lind/assets/img/chalk1.jpg");
	margin: 1px solid $cod-grey;
	border: 50px solid;
	border-image-source: url("/wp-content/themes/Jenny-Lind/assets/img/border.svg");
	border-image-slice: 170;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 -5px 5px -5px #333;
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.beerboard .beer_thumb_col {
	text-align: center;
}

.beerboard .address {
	position: relative;
	float: right !important;
	font-size: 14px;
}

.beerboard h2.zebra {
	margin: 10px auto;
	font-size: 50px;
	color: $vis;
	opacity: 0.8;
	text-align: center;
}

.beerboard h2.zebra a:link,
.beerboard h2.zebra a:visited {
	margin: 10px auto;
	font-size: 50px;
	color: $vis;
	text-decoration: none;
}

.beerboard h3.zebra {
	margin: 10px auto;
	color: $cod-grey;
	text-align: center;
	font-size: 30px;
}

.beerboard h3.pisang {
	color: $yorange;
	font-size: 30px;
	font-family: 'Pisang';
	display: inline-block;
	font-weight: bolder;
	margin-bottom: 0;
	margin-top: 30px;
}

.beerboard .beer_item {
	//padding: 5px;
	//margin-bottom: 5px;
	font-family: 'Pisang';
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}
.beerboard .beer_item .logo_items{padding:10px 0px;text-align:center;}
.beerboard .beer_item .abv {
	color:$off-white;
	display:inline-block;
	font-size: 12px;
	font-weight: bold;
	background:$killarney;
	border-radius: 50%;
	//border:1px solid $cedar;
	font-family: "Lato";
	min-width:40px;
	padding:5px;
	text-align: center;

line-height: 0.8;
position: relative;
margin-top:-150px!important;
}

.beerboard .beer_item .pint {
	color: $yorange;
	font-size: 30px;
	font-family: 'Pisang';
	display: inline-block;
	font-weight: bolder;
	margin-bottom: 0;
	color: $yorange;
	font-size: 30px;
	font-family: 'Pisang';
	display: inline-block;
	font-weight: bolder;
	margin-bottom: 0;
	margin-top: 35px;
}

.beerboard .beer_item .half-pint {
	display: inline-block;
	color: $vis;
}

.beerboard .beer_item p {
	margin: 5px 0;
}

.beerboard .beer_item .features {
	color: $vis;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}


.beerboard .beer_logo {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	width:150px;height:150px;
	border-radius: 50%;
	margin:0 auto;
	border:2px solid $off-white;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.beerboard .beer_logo:hover {
	animation: swing ease-in-out 1s infinite alternate;
	transform-origin: center -20px;
}
@keyframes swing {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(-3deg);
	}
}

.beerboard .beer_text {
	display: inline-block;
}

.beerboard .beer_header {
	background-image: url("/wp-content/themes/Jenny-Lind/assets/img/on_draft_fade.svg");
	height: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: -30px;
	opacity: 0.8;
}

.beerboard .style {
	margin-bottom: 20px;
	border-radius: 5px;
	padding-bottom: 30px;
	border-bottom: 5px dotted rgba($timeberwolf, .1);
	display: block;
}

.beerboard .traditional-cider {
	border: none;
}
//take out last border
//end of beerboard
//small beer on front

.style_small_list {
	margin-bottom: 5px;
	font-size: 14px;
	//border-bottom: 3px double $cedar;
	border-left: 2px solid $cedar;
	border-right: 2px solid $cedar;
	height: 100%;
	padding-top: 20px;
	text-align: left;
}

.style_small_list h3 {
	text-align: center; //	border-bottom: 3px double $cedar;
}

.style_small_list .beer_item {
	font-family: 'Lato';
	display: block;
	margin: 0;
	padding: 0 10px;
}

.style_small_list .beer_item .pint span.abv {
	color: $yorange!important;
	padding-right: 5px;
	font-weight: normal;
}

.style_small_list .beer_item h4 {
	color: $cedar;
	font-family: 'Lato';
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-variant: small-caps;
}

.style_small_list .pint {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: right;
	color: $cedar;
	font-weight: bold;
}


a.bar_more_info:link,
a.bar_more_info:visited {
	display: block;
	text-align: center;
	color: $cedar;
	font-family: "Lato";
	font-variant: small-caps;
}

a.bar_more_info:hover {
	color: $yorange;
	text-decoration: none;
}
.front_events,
.front_bar {
	border: 2px solid $cedar;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	background-image: url("/wp-content/themes/Jenny-Lind/assets/img/swirls/cedar-swirl-up.svg");
	background-position: center top -25px;
	background-size: 250px;
	background-repeat: no-repeat;
	padding-top:20px;
	text-align: center;
	position:relative;
}
.front_events .zebra,
.front_bar .zebra {
	color: $killarney;
	font-family: "Lato"!important;
	font-variant: small-caps!important
}

.front_bar .beer_intro {text-align: left;color:$cedar;}

.front_bar .beer_intro a:link {color:$cedar}
