.breadcrumbs {
	margin-bottom: 50px;
	color        : $killarney;
//	font-family  : 'Pisang'!important;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
	color          :$killarney;
	text-decoration: none;
	
}

.breadcrumbs a:hover{
	color          :$cedar;
	text-decoration: none;
	
}

.breadcrumbs strong {
	color          :$cedar;
	text-decoration: none;
	
}
