.hb-accom {
	//border          : 2px solid $killarney!important;
	background-color: $off-white !important;
}

.hb-accom [type="submit"] {
	color: $yorange;
	background-color: $cedar;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid $cedar;
	font-family: "Lato", sans-serif;
}

.hb-accom [type="submit"]:hover {
	color: $cedar;
	background-color: $yorange;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid $yorange;
	cursor: pointer;
}
// Footer Booking Form

#booking-form {
	padding: 20px;
	margin-bottom: 20px;
	font-size: 16px;
}

#booking-form .widget {
	list-style: none !important;
}

#booking-form h2 {
	color: $vis;
}

#booking-form label {
	color: $yorange;
}

#booking-form .hb-search-error {
	color: $off-white;
}

#booking-form input[type="text"] {
	color: $yorange;
	border: 1px solid $yorange;
	background-color: $prairie;
	padding: 10px!important !important;
	border-radius: 5px;
	line-height: 1 !important;
	font-size: 16px !important;
	height: 42px !important;
	//height: auto!important;
}

#booking-form select {
	color: $yorange;
	background-color: $prairie;
	padding: 10px;
	border-radius: 5px;
	height: 41px !important;
	width: 45px !important;
	border: 1px solid $yorange;
}
// VIK Customisations

.vbo-intro-main {
	display: none;
}

.vbdivsearch {
	background: transparent !important;
	padding: 0;
}
// Widget styling

.vbmodhorsearchmaindiv {
	color: $yorange !important;
}
// Submit

.vbmodhorsearchmaindiv input[type="submit"] {
	color: $yorange;
	background-color: $cedar;
	padding: 5px 20px;
	border-radius: 5px;
	border: 1px solid $cedar;
	height: 42px;
	margin-left: 0px !important;
}

.vbmodhorsearchmaindiv input[type="submit"]:hover {
	color: $cedar;
	background-color: $yorange;
	border: 1px solid $yorange;
	cursor: pointer;
}

.input-group input {
}
// Pop Up Calender

#ui-datepicker-div {
	font-family: "Lato";
	background: $yorange !important;
	border: 5px solid $yorange;
	margin-top: -100px;
	border-radius: 5px !important;
	color: $prairie !important;
}

.ui-datepicker-group-first {
	background: $yorange;
	color: $prairie;
}

.ui-datepicker-group-last {
	background: $yorange;
	color: $cedar;
}

#ui-datepicker-div .ui-datepicker-calendar thead th {
	color: $killarney !important;
}

.ui-datepicker td.ui-state-disabled {
	opacity: 1 !important;
	color: $vis !important;
	background: $yorange !important;
}
//not selectable

.ui-datepicker td.ui-state-disabled span.ui-state-default {
	//border : none!important;
	color: $vis !important;
	opacity: 1 !important;
}
//today

.ui-datepicker td.ui-datepicker-today a:link {
	background: $killarney !important;
	color: $yorange !important;
}

.ui-datepicker td.ui-datepicker-today a:hover {
	background: $cedar !important;
	color: $yorange !important;
	border-color: $cedar !important;
}

.ui-datepicker td.undefined {
	//border : none!important;
	//color  : $yorange!important;
	//border : 1px solid red!important;
	//opacity: 1!important;
}

.ui-datepicker td.undefined a.ui-state-default {
	//border : none!important;
	color: $yorange !important; //	border : 1px solid red!important;
	opacity: 1 !important;
	background: $prairie !important;
	border: 1px solid $prairie !important;
}

.ui-datepicker td.undefined a.ui-state-default:hover {
	background: $killarney !important;
	border: 1px solid $killarney;
}

#ui-datepicker-div .ui-datepicker-title {
	color: $cedar !important;
	font-size: 14px !important;
	//margin-bottom: $vis 2px solid!important;
	text-transform: uppercase;
}

#ui-datepicker-div .ui-datepicker-header.ui-widget-header {
	background: $yorange !important;
	border-bottom: $prairie 2px solid !important;
}
//inpage search_only

.vbdivsearch {
	border: 2px solid $vis;
	font-family: "Lato";
	padding: 10px;
	border-radius: 5px;
	color: $prairie;
}

input[type="text"] {
	color: $prairie;
	border: 2px solid $yorange;
	background-color: $vis;
	padding: 10px!important !important;
	border-radius: 5px;
	line-height: 1 !important;
	font-size: 16px !important;
	height: auto !important;
}

select {
	color: $prairie;
	border: 1px solid $prairie;
	background-color: $yorange;
	padding: 10px!important !important;
	border-radius: 5px;
	line-height: 1 !important;
	font-size: 16px !important;
	height: 41px !important;
	width: 30px !important;
}
//Search Results inpage
//breadcrumbs

.vbstepsbarcont {
	font-family: "Lato";
	font-variant: small-caps;
	font-weight: normal;
}

.vbstepsbarcont ol.vbo-stepbar li.vbo-step-complete {
	border-bottom: 3px double $cedar;
}

.vbstepsbarcont ol.vbo-stepbar li.vbo-step-current {
	border-bottom: 3px double $cedar;
}

.vbstepsbarcont ol.vbo-stepbar li.vbo-step-next {
	border-bottom: 3px double $yorange;
}

.vbstepsbarcont ol.vbo-stepbar li.vbo-step-complete:before,
.vbstepsbarcont ol.vbo-stepbar li.vbo-step-current:before,
.vbstepsbarcont ol.vbo-stepbar li.vbo-step-next:before {
	content: "";
	color: #fff;
	background-color: $cedar;
	height: 1.2em;
	width: 1.2em;
	line-height: 1.2em;
	border: none;
	border-radius: 1.2em;
}

.vbstepsbarcont ol.vbo-stepbar li.vbo-step-complete a,
.vbstepsbarcont ol.vbo-stepbar li.vbo-step-current span,
.vbstepsbarcont ol.vbo-stepbar li.vbo-step-next span {
	color: $cedar;
}
//breadcrumbs
// Results header

.vbo-results-head {
	font-family: "Lato";
	margin: 0 0 20px;
	border: 1px solid $yorange;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
	padding: 10px;
	color: $cedar;
}

.vbo-results-head > span {
	display: inline-block;
	padding: 10px 30px;
	border-left: 1px solid $yorange;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.btn.booknow,
.goback a.btn:link,
.vbo-results-chdates a:link,
.vbselectr-result {
	color: $yorange !important;
	background-color: $cedar !important;
	padding: 5px 10px!important !important;
	border-radius: 5px;
	border: 1px solid $cedar;
	font-family: "Lato", sans-serif;
}

.btn.booknow:hover,
.goback a.btn:hover,
.vbo-results-chdates a:hover,
.vbselectr-result:hover {
	color: $cedar !important;
	background-color: $yorange !important;
	padding: 5px 10px!important !important;
	border-radius: 5px;
	border: 1px solid $yorange;
	cursor: pointer;
	text-decoration: none;
}
//room list

.room_result {
	border: 1px solid $yorange;
	font-family: "Lato";
	border-radius: 5px;
}

.vblistroomblock {
	border-right: 1px solid $yorange;
}

.vbselectordiv {
	border-top: none;
}

.vbdivtotinline {
}

.room_cost {
	color: $cod-grey;
}

.vbo-showprc-roomname,
.vbrowcname {
	color: $cod-grey;
}

.vbrowcdescr {
	color: $cod-grey;
}

.vbo-showprc-rateplans-wrapper {
	border: 1px solid $yorange;
}

.vbo-showprc-price-entry {
	background: none !important;
}

.vbo-showprc-pricetable .vbo-showprc-price-entry {
	border-bottom: 1px solid $yorange;
}

.vbpricedetails span {
	color: $cod-grey !important;
	border-right: none;
}

.vbo-showprc-price-entry-cost {
	color: $cedar;
	font-weight: bold;
}
// 3 part

.vbcheckinroom,
.vbcheckoutroom,
.vbo-results-nights,
.vbo-results-numadults {
	border-right: 1px solid $yorange !important;
	color: $cedar !important;
}

.vbo-results-head .vbo-results-head-det-lbl,
.vbo-results-head-det .vbcheckinroom-lbl,
.vbo-results-head-det .vbcheckoutroom-lbl {
	color: $cedar !important;
}

.vbo-showprc-room-head {
	background: $cedar;
	color: $off-white;
}

.vbo-showprc-room-block {
	border: 1px solid $yorange;
	color: $cedar;
	font-family: "Lato";
}

.room_description_box {
	color: $cod-grey;
	margin: 20px auto !important;
	display:block!important;
	width:80%;
	//border: 1px solid red;
}

// 4 part

.vbo-oconfirm-summary-room-wrapper,
.vbo-oconfirm-summary-total-wrapper {
	border: 1px solid $yorange;
	font-family: "Lato";
	color: $cedar;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
	background: none;
}

.vbo-oconfirm-summary-total-wrapper {
	border: 1px solid $cedar;
}

.vbo-oconfirm-roomname,
.vbo-oconfirm-summary-room-head {
	color: $cedar;
}
.vbcustomfields input{height:42px!important;}
.vbf-countryinp {width:80%!important;background:$vis;border:2px solid $yorange!important}

.vbcustomfields {
	border: 1px solid $yorange;
	font-family: "Lato";
	color: $cedar;
	border-radius: 5px;
}

.vbo-oconfirm-summary-room-head-cell {
	color: $cedar !important;
	font-variant: small-caps;
}

.vbo-oconfirm-roomname {
	color: $killarney;
}

.vbo-oconfirm-cfield-separator {
	color: $cedar;
}
// Confirmation

.vbo-booking-details-head-confirmed {
	background: $killarney;
	color: $vis;
}

.vbo-booking-details-head-confirmed h4 {
	background: $killarney;
	color: $vis !important;
	font-variant: small-caps;
}

.vbo-booking-details-topcontainer {
	font-family: "Lato";
}

.vbo-booking-details-actions,
.vbo-booking-details-bookinfos,
.vbo-booking-details-udets {
	background: none !important;
	color: $cedar;
}

.vbvordudatatitle {
	color: $killarney;
	border-bottom: $cedar 1px solid;
}

.vbo-booking-details-bookinfo-lbl,
.vbo-bookingdet-userdetail-lbl {
	color: $killarney !important;
}

.vbo-booking-mod-cmd a:link {
	background: $yorange;
	border-radius: 5px;
}

.vbvordcosts {
	font-family: "Lato";
	background: $cedar;
	color: $off-white;
	border: none;
	border-radius: 5px;
}

.vbvordcoststot {
	color: $off-white !important;
}
// Main indevidual hotel is_page_template

.vikfx-thumbslide-container {
	float: none;
}

.vikfx-thumbslide-fade-container {
	z-index: 150;
	margin: 0 auto!important !important;
	text-align: center !important;
	width: 100% !important;
}
//change main image 7

.vikfx-thumbslide-fade-container img.vikfx-thumbslide-image {
	border: 2px solid $cedar;
	border-radius: 5px;
	margin: 20px 0 !important;
}

.vikfx-thumbslide-thumbnails {
	border: 2px solid $cedar;
	padding: 10px;
	border-radius: 5px;
	background: $prairie;
	width: 100%;
}

.vikfx-thumbslide-thumbnails a img {
	border: 2px solid $off-white;
}

.vblistroomcat {
	font-family: "Lato", sans-serif;
	color: $cedar;
	font-size: 18px;
}

.vblistroomnamediv {
	border-bottom: 3px double $cedar;
}

.vblistroomname {
	font-family: "Lato", sans-serif;
	color: $killarney !important;
	font-weight: bolder;
	margin-bottom: 10px;
	font-variant: small-caps;
	font-size: 2.5rem !important;
}

.vbo-rdet-descprice-block {
	background-color: $yorange;
	border-bottom: 3px double $cedar;
	border-top: 3px double $cedar;
}

.vbo-rdet-descprice-block .vbo-rdet-desc-cont {
	background-color: $yorange !important;
	border-right: solid $yorange 1px !important;
}

.vblistroomname .room_cost {
	color: $cedar !important;
}

.vblistroomname .vbliststartfromrdet {
	color: $cedar !important;
}

.vbtith3 {
	display: block !important;
	float: none !important;
	margin-bottom: 10px !important;
	color: $prairie;
	font-variant: small-caps !important;
}

.vbo-availcalendars-cont h4 {
	color: $prairie;
	font-size: 16px;
	text-transform: uppercase;
}

//HIDE ITEMS

#vbo-bookingpart-init {}

.vbo-availcalendars-cont, .vbo-seldates-cont {display:none}//hide teh avalability


