.map-container {
	background    : $off-white;
//	padding-top   : 20px;
//	padding-bottom: 20px;
//	border        : 1px solid $timeberwolf;
border-top:5px $timeberwolf solid;
}

.acf-map {
	width                          : 100%;
	height                         : 40vh;
	display                        : block;


}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

.market {}
