html {
	scroll-behavior: smooth;

}

body {

colour:black;


}

.content-area {
	//min-height    : 50vh;
	padding-top   : 30px;
	padding-bottom: 130px;

background:white



}

.content {min-height: 80%;width:100%;
}
a:visited,
a:link {
	color: $cedar;
}

a:hover {
	color: $yorange;
}


.vbo-caltrigger {display:none!important;padding:0px}

.center {text-align:center;}

// reset the image text-align
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
		border-radius: 5px;
		border:2px solid $cedar;
}

img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

hr {border-top:3px double $cedar}
